<header class="container">
  <img src="http://via.placeholder.com/250x75?text=LOGO" alt="">
</header>
<!-- <a routerLink="/home" routerLinkActive="active">Home</a> -->

<div id="fullpage">
  <router-outlet></router-outlet>
</div>
