<app-page-header 
  title="Listas" 
  subtitle="Escolha uma das listas para ver seus itens ou adicione uma nova lista" >
</app-page-header>

<div class="container">
  
  <a routerLink="/home" class="btn">
    <fa name="chevron-left"></fa>
    Voltar
  </a>

  <app-loading [showLoading]="showLoading" text="Carregando listas..."></app-loading>

  <div *ngIf="!showLoading">
    
    <ul class="list-cards" *ngIf="arrLists.length > 0">
      <li class="list-card" *ngFor="let list of arrLists">
        <a [routerLink]="['items', list.id]" class="list-card-title">{{ list.name }}</a>
        <button (click)="onClickRemoveList(list)" class="list-card-btn-delete">Apagar <fa name="trash"></fa></button>
        <a [routerLink]="['items', list.id]" class="list-card-btn">Ver itens <fa name="chevron-right"></fa></a>
      </li>
    </ul>

    <div class="items-not-found" *ngIf="arrLists.length === 0">
      <p>Nenhuma lista encontrada</p>
      <p class="aviso">
        Utilize o campo abaixo para cadastrar uma nova<br>
        <fa name="chevron-down"></fa>
      </p>
    </div>

  </div>

  <app-add-new-item 
    title="ADICIONAR NOVA LISTA"
    buttonTitle="Adicionar lista"
    placeholderText="Nome da nova lista"
    (onClickAddItem)="onAddNewList($event)" >
  </app-add-new-item>

</div>