.list-items{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 30px 0 0 0;
    list-style: none;

    .list-item{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        border-bottom: solid 1px #111;
        padding: 10px 0;
        align-items: center;

        &.list-header{
            .item-name,
            .item-actions{
                font-weight: bold;
            }
        }

        .item-name,
        .item-actions{
            padding: 0 10px;
        }

        .item-name{
            flex: 4;
            font-weight: 300;
        }
        
        .item-actions{
            flex: 1;
        }

    }

}