<app-page-header 
  title="Itens da lista {{ list.name }}" 
  subtitle="Edite ou adicione itens a lista" >
</app-page-header>


<div class="container">

  <a [routerLink]="['/lists', listTypeId]" class="btn">
    <fa name="chevron-left"></fa>
    Voltar
  </a>

  <app-loading [showLoading]="showLoading" text="Carregando itens..."></app-loading>

  <div *ngIf="!showLoading">

    <ul class="list-items" *ngIf="list.items.length > 0">

      <li class="list-item list-header">
        <div class="item-name">Nome do item</div>
        <div class="item-actions">Ações</div>
      </li>
  
      <li class="list-item" *ngFor="let item of list.items">
        <div class="item-name">{{ item.name }}</div>
        <div class="item-actions">
          <button (click)="onClickRemoveItem(item)" class="btn btn-danger">
            <fa name="trash"></fa> 
            Apagar
          </button>
        </div>
      </li>
  
    </ul>
      
    <div class="items-not-found" *ngIf="list.items.length === 0">
      <p>Nenhum item encontrado</p>
      <p class="aviso">
        Utilize o campo abaixo para cadastrar um novo item<br>
        <fa name="chevron-down"></fa>
      </p>
    </div>

  </div>

  <app-add-new-item 
    title="ADICIONAR NOVO ITEM"
    buttonTitle="Adicionar item"
    placeholderText="Nome do item"
    (onClickAddItem)="onAddNewItem($event)" >
  </app-add-new-item>

</div>