.container-for-new-item{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    .div-dashed{
        margin: 0 auto;
        width: 80%;
        padding: 20px;
        border: dashed 3px rgba(0,0,0,.3);

        p{
            text-align: center;
        }

    }

}

.form-group{
    width: 100%;
    display: flex;

    input{
        flex: 2;
        margin: 10px 10px 0 0;
        font-size: 20px;
        font-weight: 300px;
        padding: 10px 5px;
        border: none;
        border-bottom: solid 2px #111;
        outline: none;

    }
    
    button{
        margin: 10px 0 0 10px;
        flex: 1;
        font-size: 20px;
        font-weight: 300px;
        padding: 10px 5px;
        border: none;
    }

}

@media screen and (max-width: 581px){

    .form-group{
        flex-direction: column;

        input,
        button{
            margin: 5px 0;
        }

    }

}