<div class="container-for-new-item">

  <form name="form-add-new-item" class="div-dashed">

    <p>{{ title }}</p>
    <div class="form-group">
      <input type="text" [placeholder]="placeholderText" name="inputItem" id="inputItem" [(ngModel)]="inputItem">
      <button class="btn-add-item btn" (click)="onClickAddItemInView()">{{ buttonTitle }}</button>
    </div>

  </form>

</div>