/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

@import "~bourbon/app/assets/stylesheets/_bourbon";

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;    
    padding: 0;
    margin: 0;
}

.container{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

a,
a:hover,
a:visited,
a:focus,
a:active{
    color: inherit;
    text-decoration: inherit;
}

.btn{
    padding: 6px 10px;
    background: #0B486B;
    color: #FFF !important;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    clear: both;

    &.btn-danger{
        background: #BD2321;
    }

}

.page-header{
    background: #3B8686;
    padding: 45px 0;
    color: #FFF;
    margin-bottom: 30px;

    h1{
        margin: 0;
        font-weight: normal;
        font-size: 30px;
    }

    p{
        margin: 0;
        font-weight: 300;
    }

}

.list-cards{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    padding: 0;

    .list-card{
        width: 30.3333333%;
        margin: 1.5% 3% 1.5% 0;
        border: solid 1px #CFF09E;
        padding: 10px 10px 60px 10px;
        border-radius: 3px;
        position: relative;
        color: #111;
        transition: all 230ms $ease-out-quad;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#CFF09E+0,79BD9A+100 */
        background: #CFF09E; /* Old browsers */
        background: -moz-linear-gradient(top, #CFF09E 0%, #79BD9A 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #CFF09E 0%,#79BD9A 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #CFF09E 0%,#79BD9A 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CFF09E', endColorstr='#79BD9A',Gradientcard=0 ); /* IE6-9 */

        .list-card-title{
            font-size: 22px;
            font-weight: 300;
            text-transform: capitalize;
        }

        .list-card-btn{
            @include position(absolute, null 10px 10px null);
            font-weight: 300;
        }

        .list-card-btn-delete{
            font-weight: 300;
            @include position(absolute, null null 10px 10px);
            opacity: 0;
            transform: translateY(5px);
            transition: all 280ms $ease-out-quad;
            background: transparent;
            border: none;
            font-size: 16px;
            padding: 0;
        }

        &:hover{
            border: solid 1px #3B8686;
        
            .list-card-btn-delete{
                opacity: 1;
                transform: translateY(0);
            }
        }

    }

}

.items-not-found{
    text-align: center;
    font-size: 30px;
    margin: 30px 0;

    .aviso{
        font-size: 20px;
    }

}


@media screen and (max-width: 581px){

    .list-cards{

        .list-card{
            width: 100%;
        }

    }

}