<app-page-header 
  title="Escolha um tipo de lista" 
  subtitle="Escolha um dos tipos de lista abaixo para ver suas listas" >
</app-page-header>

<div class="container">
  
  <app-loading [showLoading]="showLoading"></app-loading>

  <ul class="list-cards" *ngIf="!showLoading">
    
    <li class="list-card" *ngFor="let listType of arrListTypes">
      <a [routerLink]="['/lists', listType.id]" class="list-card-title">{{ listType.name }}</a>
      <a [routerLink]="['/lists', listType.id]" class="list-card-btn">Ver listas <fa name="chevron-right"></fa></a>
    </li>

  </ul>

</div>